<div class="characterSelectionBackground w-100 d-flex">
    <div class="col-10 my-0 mx-auto py-3">
        <div class="headerMain d-flex justify-content-between">
            <div class="headerLeft d-flex px-1">
                <a class="userIcon px-2"></a>
                <p class="userNameText px-2">{{currentUser$.lastName}}
                    {{currentUser$.firstName}}</p>
            </div>
            <div class="headerRight d-flex px-1">
                <p class="logoutText px-2">Űrhajó elhagyás</p>
                <a class="logoutIcon" href="" click="onLogout()"></a>
            </div>
            <hr class="col-12 solid">
        </div>
        <div class="row">
            <div class="leftSide col-6 d-flex flex-row">
                <p class="selectTwoSoldierText">Válassz két harcost az ellenkező oldalakból!</p>
            </div>
            <div class="rightSide col-6 d-flex justify-content-center flex-row-reverse">
                <!-- Carousel ----------------------------------------------------------------------------------------- -->
                <!-- <div id="charactersIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li *ngFor="let characters of characterList$ | async; let indexOfelement=index;"
                            data-target="#charactersIndicators" data-slide-to="0" class="active">
                        </li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="../../../assets/anakin.png" alt="First slide">
                        </div>
                        <div class="carousel-item"
                            *ngFor="let characters of characterList$ | async; let indexOfelement=index;">
                            <img class="d-block w-100" src="../../../assets/{{characters.short}}.png" alt="First slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div> -->
                <div>

                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                </div>
                <span class="circle">
                </span>



                <div class="swiper">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- *ngFor="let character of characterList$ | async; let indexOfelement=index" -->
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <img class="d-block w-100" src="../../../assets/anakin.png" alt="First slide">
                        </div>
                        <div class="swiper-slide">
                            <img class="d-block w-100" src="../../../assets/vader.png" alt="First slide">
                        </div>
                        <div class="swiper-slide">
                            <img class="d-block w-100" src="../../../assets/boba.png" alt="First slide">
                        </div>
                    </div>
                    <!-- If we need pagination -->


                    <!-- If we need navigation buttons -->


                    <!-- If we need scrollbar
                    <div class="swiper-scrollbar"></div> -->
                </div>
            </div>
        </div>
    </div>
</div>