@use "sass:map";
@use "../../../styles/_colors" as colors;
@use "../../../styles/_fonts" as fonts;

.characterSelectionBackground{
    background-image: url("/assets/bg_2.jpg");
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logoutIcon{
    background: url("/assets/logout.svg") no-repeat;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
}
.userIcon{
    background: url("/assets/user.svg") no-repeat;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
}

.headerMain{
    position: relative;
}
.headerLeft{

}
.headerRight{

}


.logoutIcon{

}
.solid{
    border-top: 3px solid;
    border-color: map.get(colors.$colors, "white");
    margin-top: 2rem;
    position: absolute;
}

// Swiper ----------------------------------------------------------

.swiper-pagination{

}

// -----------------------------------------------------------------

// Fonts -----------------------------------------------------------

.headerText{
    margin-top:auto;
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
    
}
.userNameText{
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
    
}
.logoutText{
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
    
}
.selectTwoSoldierText{
    font-family: 'PoppinsBlack';
    font-size: 24px;
    color: map.get(colors.$colors, "white");
}

//------------------------------------------------------------------