@use "sass:map";
@use "../../../styles/_colors" as colors;
@use "../../../styles/_fonts" as fonts;

.characterSelectionBackground{
    background-image: url("/assets/bg_2.jpg");
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logoutIcon{
    background: url("/assets/logout.svg") no-repeat;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
}
.userIcon{
    background: url("/assets/user.svg") no-repeat;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
}

.headerMain{
    position: relative;
}
.headerLeft{

}
.headerRight{

}


.logoutIcon{

}
.solid{
    border-top: 3px solid;
    border-color: map.get(colors.$colors, "white");
    margin-top: 2rem;
    position: absolute;
}

.circle {
    height: 30vw;
    width: 30vw;
    background-color: map.get(colors.$colors, "yellow");
    border-radius: 50%;
    top: 35%;
    position: absolute;
  }

// Swiper ----------------------------------------------------------

.swiper-slide{
    width: 30vh;
    bottom: 30vw;
    right: 10vh;
}
.characterImage{
    position: relative;
    top: 30vw;
    // height: 30vw;
    // width: 30vh;
    
}
.swiper-controllers{
    // width: 10vw;
    display: grid;
    margin-left: auto;
    gap: 1rem;
    grid-auto-flow: column;
}
.swiper-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.swiper-pagination{
    .swiper-pagination-bullet-active {
        color: map.get(colors.$colors, "white");
    }
    position: relative;
    top: 1vw;
    margin:1vw;
}

.swiper-button-prev{
    color: map.get(colors.$colors, "white");
    height: 2.5vw;
    margin: 0px;
    position: relative;
    width: 2.5vw;
}
.swiper-button-next{
    color: map.get(colors.$colors, "white");
    height: 2.5vw;
    margin: 0px;
    position: relative;
    transform: rotate(180deg);
    width: 2.5vw;

}

// -----------------------------------------------------------------

// Fonts -----------------------------------------------------------

.headerText{
    margin-top:auto;
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
    
}
.userNameText{
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
    
}
.logoutText{
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
    
}
.selectTwoSoldierText{
    font-family: 'PoppinsBlack';
    font-size: 24px;
    color: map.get(colors.$colors, "white");
}

//------------------------------------------------------------------