<div class="characterSelectionBackground w-100 d-flex">
    <div class="col-10 my-0 mx-auto py-3">
        <div class="headerMain d-flex justify-content-between">
            <div class="headerLeft d-flex px-1">
                <a class="userIcon px-2"></a>
                <p class="userNameText px-2">{{currentUser$.lastName}}
                    {{currentUser$.firstName}}</p>
            </div>
            <div class="headerRight d-flex px-1">
                <p class="logoutText px-2">Űrhajó elhagyás</p>
                <a class="logoutIcon" href="" click="onLogout()"></a>
            </div>
            <hr class="col-12 solid">
        </div>
        <div class="row flex-row-reverse">
            <div class="col-6">
                <div class="rightSide d-flex justify-content-end flex-column w-100">

                    <div class="swiper-controllers">
                        <div class="swiper-pagination"></div>
                        <div class="swiper-buttons">
                            <img class="swiper-button-prev mx-4 my-1" src='../../../assets/arrow_circle@2x.png'
                                (click)="swipeCharacterMinus()">
                            <img class="swiper-button-next ml-4 my-1" src='../../../assets/arrow_circle@2x.png'
                                (click)="swipeCharacterPlus()">
                        </div>
                    </div>
                    <div class="circle">
                    </div>
                    <div class="swiper">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- *ngFor="let character of characterList$ | async; let indexOfelement=index" -->
                            <!-- Slides -->
                            <div class="swiper-slide"
                                *ngFor="let character of characterList$ | async; let indexOfElement=index">
                                <!-- json.{{character.side}} -->
                                <img class="d-block w-100 characterImage"
                                    src='../../../assets/{{character.name_id}}.png' alt="First slide">
                                <!-- <p>{{characterList[indexOfElement].side}}</p> -->
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-6">
                <div class="leftSide d-flex justify-content-start flex-row w-100">
                    <div class="forceSideDark">
                        <div class="col-12">
                            <div class="d-block">
                                <p class="selectTwoSoldierText pt-4 my-0">Válassz két harcost az ellenkező oldalakból!
                                </p>
                                <div class="d-flex flex-row col-12 align-items-center py-4"
                                    *ngIf="getCharacterSide(characterList[indexCharacter].side)=='Sötét'">
                                    <div class="darkSideOuterSquare col-6">
                                        <div class="lightSideInnerSquare"></div>
                                    </div>
                                    <div class="px-5">
                                        <span class="px-1 iconTitle">OLDAL</span>
                                        <br>
                                        <span class="px-1 characterSide">{{characterList[indexCharacter].side}}</span>
                                    </div>
                                </div>
                                <div class="pb-4 d-flex flex-row col-12 align-items-center"
                                    *ngIf="getCharacterSide(characterList[indexCharacter].side)=='Sötét'">
                                    <div class="starOuterSquare">
                                        <img class="star" src='../../../assets/star.png'>
                                    </div>
                                    <div class="px-5">
                                        <span class="px-1 iconTitle">KÜLÖNLEGES ERŐ</span>
                                        <br>
                                        <span class="px-1 superPower">{{characterList[indexCharacter].power}}</span>
                                    </div>
                                </div>

                                <div class="d-flex flex-row col-12 align-items-center py-4"
                                    *ngIf="getCharacterSide(characterList[indexCharacter].side)=='Fény'">
                                    <div class="lightSideOuterSquare col-6">
                                        <div class="darkSideInnerSquare"></div>
                                    </div>
                                    <div class="px-5">
                                        <span class="px-1 iconTitle">OLDAL</span>
                                        <br>
                                        <span class="px-1 characterSide">{{characterList[indexCharacter].side}}</span>
                                    </div>
                                </div>
                                <div class="pb-4 d-flex flex-row col-12 align-items-center"
                                    *ngIf="getCharacterSide(characterList[indexCharacter].side)=='Fény'">
                                    <div class="starOuterSquare">
                                        <img class="star" src='../../../assets/star.png'>
                                    </div>
                                    <div class="px-5">
                                        <span class="px-1 iconTitle">KÜLÖNLEGES ERŐ</span>
                                        <br>
                                        <span class="px-1 superPower">{{characterList[indexCharacter].power}}</span>
                                    </div>
                                </div>

                                <!-- <div class="" *ngIf="getCharacterSide(characterList[indexCharacter].side)=='LIGHT'">
                                <span class="outerSquare">
                                    <span class="innerSquare">
                                        <p>{{characterList[indexCharacter].side}}</p>
                                    </span>
                                </span>
                                </div> -->
                                <span class="heroName align-items-center mb-4">{{characterList[indexCharacter].name}}
                                </span>

                                <div class="pt-5">
                                    <button class="btn btn-info chooseButton">Kiválasztom</button>
                                </div>
                                <div class="pt-4">
                                    <div class="descriptionSquare ">
                                        <span class="descriptionText mx-4">LEÍRÁS</span>
                                    </div>
                                </div>
                                <br>
                                <span class="descriptionContentText py-4">{{characterList[indexCharacter].description}}
                                </span>
                            </div>
                        </div>
                        <div class="col-6">

                            <!-- <p>{{characterList$.side}}</p> -->
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <button class="btn btn-info simulateButton" (click)="setActive()">
            <span class="simulateFight">Küzdelem szimulálása</span>
        </button>
    </div>
</div>