<div class="simulateFightBackground w-100 d-flex">
    <div class="col-10 my-0 mx-auto py-3">
        <div class="headerMain d-flex justify-content-between">
            <div class="headerLeft d-flex px-1">
                <a class="userIcon px-2"></a>
                <p class="userNameText px-2">{{currentUser$.lastName}}
                    {{currentUser$.firstName}}</p>
            </div>
            <div class="headerRight d-flex px-1">
                <p class="logoutText px-2">Űrhajó elhagyás</p>
                <a class="logoutIcon" href="" click="onLogout()"></a>
            </div>
            <hr class="col-12 solid">
        </div>
        <div class="quotePosition d-flex justify-content-center">
            <p class="quoteFont">A csata nyertese</p>
            <!-- {{theWinner[0]}} -->
            <!-- {{theWinner[1]}} -->
        </div>
        <div class="battleGround col-12 d-flex flex-column justify-content-center" *ngIf="theWinner[1]==='Fény'">
            <div class="winnerCharacter d-flex flex-column justify-content-center">
                <div class="circleLightCenter"></div>
                <div *ngFor="let character of characterList$ | async; let indexOfElement=index">
                    <img class="d-block characterImageCenter img-fluid " *ngIf="character.name === theWinner[0]"
                        src='../../../assets/{{character.name_id}}.png' alt="First slide">
                </div>
            </div>
            <div class="winnerName d-flex justify-content-center">
                <p class="winnerNameFont">{{theWinner[0]}}</p>
            </div>
        </div>
        <div class="battleGround col-12 d-flex flex-column justify-content-center" *ngIf="theWinner[1]==='Sötét'">
            <div class="winnerCharacter d-flex flex-column justify-content-center">
                <div class="circleDarkCenter"></div>
                <div *ngFor="let character of characterList$ | async; let indexOfElement=index">
                    <img class="d-block characterImageCenter img-fluid " *ngIf="character.name === theWinner[0]"
                        src='../../../assets/{{character.name_id}}.png' alt="First slide">
                </div>
            </div>
            <div class="winnerName d-flex justify-content-center">
                <p class="winnerNameFont">{{theWinner[0]}}</p>
            </div>
        </div>
    </div>
</div>


<div class="circleDarkLeft" *ngIf="theWinner[0]==='Sötét'"></div>