<div class="simulateFightBackground w-100 d-flex">
    <div class="col-10 my-0 mx-auto py-3">
        <div class="headerMain d-flex justify-content-between">
            <div class="headerLeft d-flex px-1">
                <a class="userIcon px-2"></a>
            </div>
            <div class="headerRight d-flex px-1">
                <p class="logoutText px-2">Űrhajó elhagyás</p>
                <a class="logoutIcon" href="" click="onLogout()"></a>
            </div>
            <hr class="col-12 solid">
        </div>
        <div class="quote">
            <p>A tudás legyen veled!</p>
        </div>
        <div class="versus">
            <p class="">{{message[0]}}</p>
            <p class="">{{message[1]}}</p>
            <p class="">{{message[2]}}</p>
            <p class="">{{message[3]}}</p>
        </div>
    </div>
</div>