@use "sass:map";
@use "../../../styles/_colors" as colors;
@use "../../../styles/_fonts" as fonts;

.simulateFightBackground{
    background-image: url("/assets/bg_3.jpg");
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logoutIcon{
    background: url("/assets/logout.svg") no-repeat;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
}
.userIcon{
    background: url("/assets/user.svg") no-repeat;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
}

.headerMain{
    position: relative;
}
.headerLeft{

}
.headerRight{

}


.logoutIcon{

}