@use "sass:map";
@use "../../../styles/_colors" as colors;
@use "../../../styles/_fonts" as fonts;

.simulateFightBackground{
    background-image: url("/assets/bg_3.jpg");
    position: fixed;
    top:0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
// Header ---------------------------------------------------------------------

.logoutIcon{
    background: url("/assets/logout.svg") no-repeat;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
}
.userIcon{
    background: url("/assets/user.svg") no-repeat;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
}

.headerMain{
    position: relative;
}
.headerLeft{

}
.headerRight{

}
.solid{
    border-top: 3px solid;
    border-color: map.get(colors.$colors, "white");
    margin-top: 2rem;
    position: absolute;
}
// ----------------------------------------------------------

// Items    ------------------------------------------------------------

.quotePosition{

}
.versus{
    // margin-top: 15vh;
    display: flex;
    align-items: center;
    margin: auto;
}

.characterImage{
    position: absolute;
   max-width: 55vw;
   max-height: 55vh;
}

.circleLight {
    height: 28vw;
    width: 28vw;
    background-color: map.get(colors.$colors, "white");
    border-radius: 50%;
    position: relative;
    margin-top: 25%;
    margin-left: auto;
    bottom:5vh;
  }
.circleDark {
    height: 28vw;
    width: 28vw;
    background-color: map.get(colors.$colors, "gray");
    border-radius: 50%;
    position: relative;
    margin-top: 25%;
    margin-left: auto;
    bottom:5vh;
  }

// ---------------------------------------------------------------------

// Fonts -----------------------------------------------------------

.headerText{
    margin-top:auto;
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
    
}
.userNameText{
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
    
}
.logoutText{
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
    
}
.selectTwoSoldierText{
    font-family: 'PoppinsBlack';
    font-size: 24px;
    color: map.get(colors.$colors, "white");
}


.iconTitle{
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "yellow");
}

.quoteFont{
    font-family: 'StarJedi';
    font-size: 60px;
    color: map.get(colors.$colors, "white");
}

.sideLeftFont{
    font-family: 'PoppinsBlack';
    font-size: 24px;
    color: map.get(colors.$colors, "white");
}
.sideRightFont{
    font-family: 'PoppinsBlack';
    font-size: 24px;
    color: map.get(colors.$colors, "white");
}
.versusFont{
    font-family: 'DistantGalaxy';
    font-size: 150px;
    color: map.get(colors.$colors, "white");
}
.nameLeftFont{
    font-family: 'StarJedi';
    font-size: 40px;
    text-transform: capitalize;
    color: map.get(colors.$colors, "white");
}
.nameRightFont{
    font-family: 'StarJedi';
    font-size: 40px;
    text-transform: capitalize;
    color: map.get(colors.$colors, "white");
}
.leftPercentFont{
    font-family: 'PoppinsBold';
    font-size: 24px;
    color: map.get(colors.$colors, "white");
}
.rightPercentFont{
    font-family: 'PoppinsBold';
    font-size: 24px;
    color: map.get(colors.$colors, "white");
}

.descriptionText{
    font-family: 'PoppinsBold';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
}
.descriptionContentText{
    font-family: 'PoppinsRegular';
    font-size: 16px;
    color: map.get(colors.$colors, "white");
}

.characterSide{
    font-family: 'PoppinsBlack';
    font-size: 20px;
    color: map.get(colors.$colors, "white");
}

.simulateFight{
    font-family: 'StarJedi';
    font-size: 20px;
    color: map.get(colors.$colors, "black");
}

//------------------------------------------------------------------