<div class="loginBackground w-100 h-100 d-flex align-items-center">
    <div class="col-3 my-auto mx-auto ">
        <label class="webstarText d-flex justify-content-center">WEBSTAR</label>
        <label class="frontendText d-flex justify-content-center">FRONTEND</label>
        <form (ngSubmit)="onLogin()">
            <div class="form-group mb-4 mt-6">
                <label class="userWordText d-flex justify-content-center mb-1">Felhasználónév</label>
                <input class="userWordInputText form-control" name="email" [(ngModel)]="user.email" type="email">
            </div>
            <div class="form-group">
                <label class="userWordText d-flex justify-content-center mb-1">Jelszó</label>
                <input class="userWordInputText form-control" name="password" [(ngModel)]="user.password"
                    type="password">
            </div>
            <button type="submit" class="submitButtonText button-color d-flex justify-content-center btn col-6">
                Belépés
            </button>
        </form>
    </div>
</div>